USE [SimuladorIngles]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[examen_preguntas](
	[id_exam_pregunta] [int] IDENTITY(1,1) NOT NULL,
	[id_examen] [int] NOT NULL,
	[id_pregunta] [int] NOT NULL,
	[numero_orden] [int] NOT NULL,
	[respondida] [int] NOT NULL,
	[tiempo_consumido_seg] [int] NOT NULL,
	[expiro_tiempo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_exam_pregunta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_examen_orden] UNIQUE NONCLUSTERED 
(
	[id_examen] ASC,
	[numero_orden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_examen_pregunta] UNIQUE NONCLUSTERED 
(
	[id_examen] ASC,
	[id_pregunta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE [dbo].[examenes](
	[id_examen] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[tipo] [varchar](20) NOT NULL,
	[fecha_inicio] [datetime] NOT NULL,
	[fecha_fin] [datetime] NULL,
	[tiempo_pregunta_seg] [int] NOT NULL,
	[total_preguntas] [int] NOT NULL,
	[aciertos] [int] NOT NULL,
	[errores] [int] NOT NULL,
	[porcentaje] [decimal](5, 2) NULL,
	[aprobado] [bit] NOT NULL,
	[nivel_obtenido] [varchar](20) NULL,
	[estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_examen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE [dbo].[historial_estudiante](
	[id_historial] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_examen] [int] NOT NULL,
	[tipo_examen] [varchar](20) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[puntaje] [decimal](5, 2) NOT NULL,
	[porcentaje] [decimal](5, 2) NOT NULL,
	[aprobado] [bit] NOT NULL,
	[nivel_obtenido] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_historial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_historial_examen] UNIQUE NONCLUSTERED 
(
	[id_examen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE [dbo].[imagenes](
	[id_imagen] [int] IDENTITY(1,1) NOT NULL,
	[url_imagen] [varchar](255) NOT NULL,
	[descripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_imagen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE [dbo].[perfil_usuario](
	[id_usuario] [int] NOT NULL,
	[perfil] [varchar](20) NULL,
	[prob_acierto] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE [dbo].[preguntas](
	[id_pregunta] [int] IDENTITY(1,1) NOT NULL,
	[enunciado] [nvarchar](500) NOT NULL,
	[opcion_a] [nvarchar](255) NOT NULL,
	[opcion_b] [nvarchar](255) NOT NULL,
	[opcion_c] [nvarchar](255) NOT NULL,
	[opcion_d] [nvarchar](255) NOT NULL,
	[respuesta_correcta] [char](1) NOT NULL,
	[nivel] [varchar](20) NOT NULL,
	[tipo_examen] [varchar](20) NOT NULL,
	[materia] [varchar](50) NOT NULL,
	[activa] [bit] NOT NULL,
	[id_imagen] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pregunta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE [dbo].[respuesta_usuario](
	[id_respuesta] [int] IDENTITY(1,1) NOT NULL,
	[id_exam_pregunta] [int] NOT NULL,
	[respuesta_selec] [char](1) NULL,
	[es_correcta] [bit] NOT NULL,
	[tiempo_respuesta_seg] [int] NOT NULL,
	[expiro_tiempo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_respuesta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[id_exam_pregunta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE [dbo].[usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[matricula] [varchar](20) NOT NULL,
	[nombre] [varchar](80) NOT NULL,
	[paterno] [varchar](80) NOT NULL,
	[materno] [varchar](80) NULL,
	[correo] [varchar](120) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[intentos_practica] [int] NOT NULL,
	[intentos_final] [int] NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]